3/2

In [5]:
7/4

1.75

Mod Operator for remainder %

In [3]:
7 % 3

1

In [4]:
23 % 2

1

In [6]:
2 + 10 * 10 + 3

105

In [7]:
(2 + 10) * (10 + 3)

156

Python 3 performs true division by default, without the need for type casting of float conversion

Variable Assignments

In [1]:
a = 5

In [2]:
a

5

In [3]:
a = 67

In [4]:
a

67

In [7]:
a = a + a

In [8]:
a

268

In [9]:
type(a)

int

In [10]:
a = 90.8

In [11]:
type(a)

float

In [12]:
my_income = 100

tax_rate = 0.3

my_taxes = my_income * tax_rate

In [13]:
my_taxes

30.0

STRINGS

In [14]:
'hello'

'hello'

In [15]:
'this is also a string'

'this is also a string'

In [16]:
" I'm also going on a run "

" I'm also going on a run "

In [17]:
print('hello')

hello

In [9]:
print('hello, world')

hello, world

In [19]:
print('hello, world')

hello, world

In [20]:
print('hello \n world')

hello
 world

In [21]:
print('hello \nworld')

hello
world

In [22]:
print('hello \tworld')

hello 	world

In [23]:
len('hello')

5

In [24]:
len('whoa hi')

7

STRING INDEXING AND SLICING

In [25]:
mystring = 'Hello World'

In [26]:
mystring

'Hello World'

In [27]:
mystring[0]

'H'

In [28]:
mystring[5]

' '

In [29]:
mystring[8]

'r'

In [30]:
mystring[-2]

'l'

In [31]:
mystring[0:-1:2]

'HloWr'

In [32]:
mystring = 'abcdefghijk'

In [33]:
mystring

'abcdefghijk'

In [34]:
mystring[2:]

'cdefghijk'

In [35]:
mystring[:3]

'abc'

In [36]:
mystring[3:6]

'def'

In [37]:
mystring[::]

'abcdefghijk'

In [38]:
mystring[::2]

'acegik'

In [39]:
mystring[::3]

'adgj'

In [40]:
mystring[::-1]

'kjihgfedcba'

String Immutability

In [1]:
name = "Pam"

In [3]:
last_letters = name[1:]

In [4]:
last_letters

'am'

In [6]:
'P' + last_letters #string concatenation

'Pam'

In [7]:
x = 'Hello World'

In [8]:
x + " it is beautiful outside"

'Hello World it is beautiful outside'

In [10]:
letter = 'z'

In [11]:
letter * 10

'zzzzzzzzzz'

In [12]:
2 + 3

5

In [13]:
'2' + '3'

'23'

In [14]:
x = "Hello World"

In [15]:
x.upper()

'HELLO WORLD'

In [16]:
# use a hashtag to create a comment

PRINT FORMATTING WITH STRINGS

In [30]:
# .format() method

In [17]:
print('The {} {} {}'.format('fox', 'brown','quick'))

The fox brown quick

In [18]:
print('The {2} {1} {0}'.format('fox', 'brown','quick'))

The quick brown fox

In [19]:
print('The {0} {0} {0}'.format('fox', 'brown','quick'))

The fox fox fox

In [20]:
print('The {q} {b} {f}'.format(f = 'fox', b ='brown', q ='quick'))

The quick brown fox

In [21]:
#float formatting

In [22]:
result = 100/344

In [23]:
result

0.29069767441860467

In [24]:
print('The result was {r:1.3f}'.format(r = result))

The result was 0.291

In [25]:
# f-strings method

In [26]:
name = 'Jose'

In [27]:
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [28]:
name = 'Sam'
age = 3

In [29]:
print(f'{name} is {age} years old')

Sam is 3 years old

LISTS

In [31]:
my_list = [1,2,3]

In [32]:
my_list = ['STRING',100,23.2]

In [33]:
len(my_list)

3

In [34]:
mylist = ['one', 'two', 'three']

In [35]:
mylist[0]

'one'

In [37]:
mylist[1:]

['two', 'three']

In [38]:
another_list = ['four', 'five']

In [39]:
new_list = mylist + another_list

In [40]:
new_list

['one', 'two', 'three', 'four', 'five']

In [41]:
new_list[0] = 'ONE'

In [42]:
new_list

['ONE', 'two', 'three', 'four', 'five']

In [43]:
new_list.append('six')

In [44]:
new_list

['ONE', 'two', 'three', 'four', 'five', 'six']

In [45]:
new_list.append('seven')

In [46]:
new_list

['ONE', 'two', 'three', 'four', 'five', 'six', 'seven']

In [47]:
new_list.pop()

'seven'

In [48]:
new_list

['ONE', 'two', 'three', 'four', 'five', 'six']

In [49]:
popped_item = new_list.pop()

In [50]:
popped_item

'six'

In [51]:
new_list.pop(0)

'ONE'

In [52]:
new_list

['two', 'three', 'four', 'five']

In [53]:
new_list = ['a', 'g', 'y', 'm', 'd']

In [54]:
new_list.sort()

In [55]:
new_list

['a', 'd', 'g', 'm', 'y']

In [56]:
numlist = [3, 6, 1, 9, 2]

In [57]:
numlist.sort()

In [58]:
numlist

[1, 2, 3, 6, 9]

In [59]:
numlist.reverse()

In [60]:
numlist

[9, 6, 3, 2, 1]

DICTIONARIES

In [63]:
my_dict = {'key1':'value1','key2':'value2'}
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [64]:
my_dict['key1']

'value1'

In [65]:
prices_lookup = {'apple':2.99, 'oranges':1.99, 'milk':3.50}

In [66]:
prices_lookup['apple']

2.99

TUPLES

In [1]:
t = ('a','a','b')
t.count('a')

2

In [2]:
t.index('b')

2

In [3]:
# tuples are immutable and its contents cannot be reassigned

In [4]:
# mainly used for passing around objects in a program with confidence that the contents will not be changed, data integrity

SETS

In [5]:
# cannot have the same object twice in a set, all values are unique

In [6]:
myset = set()

In [7]:
myset.add(1)

In [8]:
myset.add(2)

In [9]:
myset

{1, 2}

In [10]:
mylist = [1,2,3,3,3,3,5,5,5,6,6,6,2,2,7]

In [11]:
set(mylist)

{1, 2, 3, 5, 6, 7}

BOOLEANS

In [14]:
# comparison operators
1 > 2

False

In [13]:
1 == 1

True

I/O with BASIC FILES IN PYTHON

In [15]:
%%writefile firstfile.txt
This is my first text file written using Jupyter notebooks
This is the second line
This is the third line

Writing firstfile.txt

In [16]:
myfile = open('firstfile.txt')

In [17]:
pwd

'C:\\Users\\csande9\\Desktop\\Python code'

In [18]:
myfile.read()

'This is my first text file written using Jupyter notebooks\nThis is the second line\nThis is the third line\n'

In [19]:
myfile.seek(0)

0

In [20]:
contents = myfile.read()

In [21]:
contents

'This is my first text file written using Jupyter notebooks\nThis is the second line\nThis is the third line\n'

In [22]:
myfile.seek(0)

0

In [23]:
myfile.readline()

'This is my first text file written using Jupyter notebooks\n'

In [24]:
myfile.seek(0)

0

In [25]:
myfile.readlines()

['This is my first text file written using Jupyter notebooks\n',
 'This is the second line\n',
 'This is the third line\n']

In [28]:
# file locations, use full location if pulling a file from somewhere else

In [29]:
myfile.close()

In [31]:
with open('firstfile.txt') as newfile:
    contents = newfile.read()

In [32]:
contents

'This is my first text file written using Jupyter notebooks\nThis is the second line\nThis is the third line\n'

In [33]:
# WRITING TO FILES

In [41]:
%%writefile newfile.txt
One on first
Two on second
Three on third

Overwriting newfile.txt

In [42]:
with open('newfile.txt', mode = 'r') as f:
    print(f.read())

One on first
Two on second
Three on third

In [43]:
with open('newfile.txt', mode = 'a') as f:
    f.write('Four on fourth')

In [44]:
with open('newfile.txt', mode = 'r') as f:
    print(f.read())

One on first
Two on second
Three on third
Four on fourth

In [45]:
with open('createdfile.txt', mode = 'w') as f:
    f.write('I CREATED THIS FILE!')

In [46]:
with open('createdfile.txt', mode = 'r') as f:
    print(f.read())

I CREATED THIS FILE!

COMPARISON OPERATORS

In [1]:
2 == 2

True

In [2]:
2 == 4

False

In [3]:
'hello' == 'bye'

False

In [4]:
'Bye' == 'bye'

False

In [5]:
'2' == 2

False

In [6]:
3 != 3

False

In [7]:
3 != 7

True

In [14]:
# Chaining multiple comparisons on the same line: and, or, not

In [9]:
1 < 2 < 3

True

In [10]:
1 < 2 > 3

False

In [11]:
1 < 2 and 2 < 3

True

In [12]:
'h' == 'h' and 2 == 2

True

In [13]:
1 == 1 or 2 == 5

True

In [16]:
1 == 1

True

In [18]:
not 1 == 1 # not returns the opposite boolean

False

PYTHON STATEMENTS

In [19]:
# If, Elif, Else statements

In [23]:
hungry = True
if hungry:
    print('Feed Me!')
else:
    print('Im not hungry')

Feed Me!

In [24]:
thirsty = False
if thirsty:
    print('Water!')

In [25]:
loc = 'Bank'
if loc == 'Auto Shop':
    print('Cars are cool')
elif loc == 'Bank':
    print('Money is cool!')
elif loc == 'Store':
    print('Welcom to the store!')
else:
    print('I do not know much.')

Money is cool!

In [27]:
name = 'Sammy'

if name == 'Frankie':
    print('Hello Frankie!')
elif name == 'Sammy':
    print('Hello Sammy!')
else:
    print('What is your name?')

Hello Sammy!

In [28]:
# Coding project Idea: An AI that can talk to different users and store basic data about each of them based on the conversations, and pull that data the next time they talk to personalize the conversation. When a new user is encountered, the AI asks their name and creates a new profile for their conversation.

In [29]:
# FOR LOOPS

In [34]:
mylist = [1,2,3,4,5,6,7,8,9,10]
for jelly in mylist:
    print('Reimuru Tempest')

Reimuru Tempest
Reimuru Tempest
Reimuru Tempest
Reimuru Tempest
Reimuru Tempest
Reimuru Tempest
Reimuru Tempest
Reimuru Tempest
Reimuru Tempest
Reimuru Tempest

In [37]:
for num in mylist:
    # Check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd number: {num}')

Odd number: 1
2
Odd number: 3
4
Odd number: 5
6
Odd number: 7
8
Odd number: 9
10

In [38]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
print(list_sum)

55

In [39]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [40]:
for letter in 'Hello World!':
    print(letter)

H
e
l
l
o

W
o
r
l
d
!

In [41]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [47]:
# Tuple Unpacking
myTupList = [(1,2),(3,4,), (5,6),(7,8)]

for a,b in myTupList:
    print(b)

2
4
6
8

In [49]:
myTupList = [(1,2,3), (4,5,6), (7,8,9)]

for a,b,c in myTupList:
    print(b)

2
5
8

In [51]:
dic = {'k1':1, 'k2':2, 'k3':3}
for item in dic.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [52]:
for key,value in dic.items():
    print(value)

1
2
3

In [54]:
for values in dic.values():
    print(values)

1
2
3

In [55]:
# WHILE LOOPS

In [60]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print('X is greater than 5')
    
#If you accidentally make an infinite while loop, Kernel<Restart, then rerun cells

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X is greater than 5

In [67]:
# 3 KEYWORDS, break, continue, pass

In [63]:
x = [1,2,3]

for item in x:
    #pass can be used as a placeholder so that you can come back and fill out the loop later
    pass

print('End of my script')

End of my script

In [65]:
mystring = 'Sammy'

for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [68]:
x = 0

while x < 5:
    if x == 2:
        break
    print(x)
    x +=1

0
1

Useful Operators

In [1]:
mylist = [1,2,3]

In [4]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [5]:
range(0,11,2)
# range is a generator, so if you want a list of the generated values you must type-cast it as a list.

range(0, 11, 2)

In [6]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [7]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [9]:
index_count = 0
word = 'abcde'

for letter in word:
    print(word[index_count])
    index_count += 1
    # This is the same as print(letter)

a
b
c
d
e

In [11]:
word = 'abcde'
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [12]:
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [13]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']

In [15]:
for item in zip(mylist1, mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [16]:
list(zip(mylist1, mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [17]:
# in operator

In [18]:
'x' in [1,2,3]

False

In [19]:
'x' in ['x', 'y', 'z']

True

In [20]:
'a' in 'a world'

True

In [21]:
'mykey' in {'mykey': 345}

True

In [23]:
d = {'mykey': 345}

345 in d.values()

True

In [24]:
# min, max, random

In [25]:
mylist = [10,20,30,40,50,60,100]
min(mylist)

10

In [26]:
max(mylist)

100

In [28]:
# Random is a library, so to import functions from that library we use:
#from (library) import (Tab)

In [29]:
from random import shuffle

In [30]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [33]:
shuffle(mylist)
# doesn't return anything, but shuffles actual list

In [32]:
mylist

[4, 6, 1, 9, 3, 8, 7, 2, 10, 5]

In [34]:
from random import randint

In [37]:
randint(0,100)
# grabs a random integer from between the bounds. Because it returns a value, it is saveable

18

In [36]:
randint(0,100)

59

In [38]:
mynum = randint(0,10)

In [39]:
mynum

2

In [40]:
# INPUT FUNCTION

In [2]:
result = input('Enter a number here: ')

Enter a number here: 67

In [3]:
result

'67'

In [4]:
float(result)

67.0

List Comprehensions

In [1]:
mystring = 'hello'

In [6]:
# basic way
mylist = []

for letter in mystring:
    mylist.append(letter)

In [5]:
mylist

['h', 'e', 'l', 'l', 'o']

In [7]:
# list comprehension, essentially a flattened out for loop. Saves space but takes same amount of computational time
mylist = [letter for letter in mystring]

In [8]:
mylist

['h', 'e', 'l', 'l', 'o']

In [10]:
mylist = [x for x in 'word']
mylist

['w', 'o', 'r', 'd']

In [11]:
mylist = [x for x in range(0,11)]
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
mylist = [x**3 for x in range(0,11)]
mylist

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [14]:
mylist = [x for x in range(0,11) if x%2 == 0]
mylist

[0, 2, 4, 6, 8, 10]

In [16]:
celcius = [0,10,20,34.5]
fahrenheit = [((9/5)*temp + 32) for temp in celcius]
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [17]:
# when compared to the regular for loop append method, you're basically taking the action after the for loop and placing it before the for loop

In [18]:
# you can use if else statements and nested loops in list comprehensions but they decrease readability and can be confusing to others, and programming is about readability

In [19]:
results = [x if x%2 == 0 else 'ODD' for x in range(0,11)]
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [20]:
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [21]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

METHODS

In [22]:
# essentially functions that are built into objects

In [23]:
mylist  = [1,2,3]

In [24]:
mylist.append(4) # append method

In [25]:
mylist

[1, 2, 3, 4]

In [26]:
mylist.pop() # pop method

4

In [27]:
mylist

[1, 2, 3]

FUNCTIONS

In [28]:
# Functions allow you to create a block of code that can be easily executed many times, without needing a constant rewrite

In [30]:
# Be patient with yourself, practice, and get excited about your new skills!

In [1]:
# def name_of_function()
# snake casing is seperating all lowercase words with _

In [1]:
#BASIC FUNCTIONS

In [4]:
def say_hello():
    print("hello, how are you?")

In [5]:
say_hello()

hello, how are you?

In [6]:
say_hello # if you execute a function and forget the parenthesis, python will just inform you that it is a function

In [11]:
def say_hello(name = 'Default'):
    print(f'Hello {name}')

In [12]:
say_hello('Chris')

Hello Chris

In [13]:
say_hello()

Hello Default

In [14]:
def add_num(num1,num2):
    return num1+num2

In [15]:
result = add_num(10,20)

In [16]:
result

30

In [17]:
def print_result(a,b):
    print(a+b)

In [18]:
def return_result(a,b):
    return a+b

In [19]:
print_result(10,20)

30

In [20]:
result = return_result(15,25)

In [21]:
result

40

In [22]:
# if you want to view the result and save it
def my_func(a,b):
    print(a+b)
    return a+b

In [23]:
my_func(7,8)

15

15

In [25]:
# be careful of what data type you are using
def sum_numbers(num1,num2):
    return num1+num2

sum_numbers(10,20)

30

In [26]:
sum_numbers('10','20')

'1020'

FUNCTIONS WITH LOGIC

In [1]:
2 % 2

0

In [2]:
def even_check(number):
    result = number % 2 == 0
    return result

In [3]:
even_check(25)

False

In [4]:
even_check(88)

True

In [5]:
even_check(0)

True

In [9]:
# return true if any number inside a list is even
def even_list(num_list):
    even_numbers = []
    for number in num_list:
        if number % 2 == 0:
            even_numbers.append(number)
        else:
            pass
        
    return even_numbers

In [10]:
even_list([2,3,4,5,6])

[2, 4, 6]

In [11]:
even_list([1,3,5,7,9])

[]

FUNCTIONS AND TUPLE UNPACKING

In [12]:
stock_prices = [('APPL',200),('GOOG',400),('MSFT',100)]

In [13]:
for item in stock_prices:
    print(item)

('APPL', 200)
('GOOG', 400)
('MSFT', 100)

In [14]:
for ticker,price in stock_prices:
    print(price+(0.1*price))

220.0
440.0
110.0

In [18]:
work_hours = [('Abby',100),('Billy',4000),('Cassie',800)]

In [19]:
def employee_check(work_hours):
    
    current_max = 0
    employee_of_month = ''
    
    for employee,hours in work_hours:
        if hours>current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
    
    #return
    return (employee_of_month,current_max)

In [21]:
name,hours = employee_check(work_hours)

In [22]:
name

'Billy'

In [23]:
hours

4000

INTERACTIONS BETWEEN FUNCTIONS

In [1]:
example = [1,2,3,4,5,6,7]

In [2]:
from random import shuffle

In [3]:
shuffle(example)

In [4]:
example

[6, 7, 5, 3, 4, 1, 2]

In [6]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [7]:
result = shuffle_list(example)

In [8]:
result

[4, 2, 3, 7, 5, 6, 1]

In [9]:
mylist = ['','o','']

In [10]:
shuffle_list(mylist)

['', '', 'o']

In [17]:
def player_guess():
    
    guess = ''
    while guess not in ['0','1','2']:
        guess = input("Pick a number: 0, 1, or 2\n guess:")
    return int(guess)

In [18]:
player_guess()

Pick a number: 0, 1, or 2
 guess:1

1

In [19]:
myindex = player_guess()

Pick a number: 0, 1, or 2
 guess:2

In [21]:
def check_guess(mylist,guess):
    if mylist[guess] == 'o':
        print("Correct!")
    else:
        print("Wrong guess!")
        print(mylist)

In [22]:
#Initial List
mylist = ['','o','']

#shuffle list
mixedup_list = shuffle_list(mylist)

#user guest
guess = player_guess()

#check guess
check_guess(mixedup_list,guess)

Pick a number: 0, 1, or 2
 guess:2
Correct!

*args and **kwargs (ARGUMENTS and KEY WORD ARGUMENTS)

In [23]:
def myfunc(a,b):
    # returns 5% of the sum of a and b
    return sum((a,b)) * 0.05

In [24]:
myfunc(40,60)

5.0

In [25]:
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [26]:
myfunc(fruit= 'apple')

My fruit of choice is apple

In [27]:
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[0],kwargs['food']))

In [28]:
myfunc(10,20,30,fruit = 'orange', food= 'eggs', animal='dog')

(10, 20, 30)
{'fruit': 'orange', 'food': 'eggs', 'animal': 'dog'}
I would like 10 eggs

In [43]:
def myfunc(*args):
    mylist = []
    for number in args:
        if number%2 == 0:
            mylist.append(number)
        else:
            pass
    return mylist

In [44]:
myfunc(45,43,22,80,96)

[22, 80, 96]

In [61]:
def myfunc(a):
    length = len(a)
    count = 0
    for letter in a:
        if count%2 == 0:
            letter.upper()
            print(letter)
            count= count + 1
        else:
            count = count + 1
    return a

In [62]:
myfunc('Anthropomorphism')

A
t
r
p
m
r
h
s

'Anthropomorphism'

Lambda Expressions, Map, and Filter Functions

In [1]:
def square(num):
    return num**2

In [2]:
nums = [1,2,3,4,5]

In [3]:
map(square, nums)

In [4]:
for item in map(square, nums):
    print(item)

1
4
9
16
25

In [5]:
def splicer(mystring):
    if len(mystring)%2 ==0:
        return 'EVEN'
    else:
        return mystring[0]

In [6]:
names = ['Chris', 'Eve', 'Andy']

In [7]:
list(map(splicer, names))

['C', 'E', 'EVEN']

In [8]:
def checkEven(num):
    return num%2 == 0

In [11]:
mynums = [1,2,3,4,5,6]

In [12]:
list(filter(checkEven, mynums))

[2, 4, 6]

In [13]:
#Will turn this into a lambda expression
def square(num):
    result = num**2
    return result

In [14]:
square(3)

9

In [15]:
lambda num: num**2

In [16]:
list(map(lambda num:num**2, mynums))

[1, 4, 9, 16, 25, 36]

In [17]:
lambda num: num%2 ==0
list(filter(lambda num:num%2 == 0, mynums))

[2, 4, 6]

In [18]:
names

['Chris', 'Eve', 'Andy']

In [19]:
list(map(lambda x:x[0], names))

['C', 'E', 'A']

Nested Statements and Scope

In [32]:
#Global
x = 25

def printer():
    #Local
    x = 50
    return x

In [33]:
print(x)

25

In [34]:
print(printer())

50

In [24]:
print(x)

25

In [25]:
#example of local variable
lambda num:num**2
#num is local to the lambda

In [30]:
#example of enclosing local

#Global assignment
name = 'Global String'
def greet():
    #overwriting global and assigning new value to name. The enclosing function to hello()
    name = 'Sammy'
    def hello():
        print('Hello '+name)
    hello()

In [31]:
greet()

Hello Sammy

In [35]:
x = 50

def func(x):
    print(f'X is {x}')
    
    #Local reassignment
    x = 200
    print(f'I just locally changed x to {x}')

In [36]:
func(x)

X is 50
I just locally changed x to 200

In [37]:
print(x)

50

In [38]:
def gfunc():
    global x
    print(f'X is {x}')
    
    #local reassignment on global variable
    x = 200
    print(f'I just locally changed x to {x}')

In [39]:
gfunc()

X is 50
I just locally changed x to 200

In [40]:
print(x)

200

Displaying Information

In [41]:
print([1,2,3])
print([4,5,6])
print([7,8,9])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [42]:
def display(row1,row2,row3):
    print(row1)
    print(row2)
    print(row3)

In [43]:
example_row = [1,2,3]
display(example_row, example_row, example_row)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]

In [44]:
#Very simple tic tac toe example
row1 = [' ', ' ', ' ']
row2 = [' ', ' ', ' ']
row3 = [' ', ' ', ' ']
display(row1,row2,row3)

[' ', ' ', ' ']
[' ', ' ', ' ']
[' ', ' ', ' ']

In [45]:
row2[1] = 'X'
display(row1,row2,row3)

[' ', ' ', ' ']
[' ', 'X', ' ']
[' ', ' ', ' ']

Accepting User Input

In [50]:
result = input("Enter value: ")

Enter value: 2

In [51]:
type(result)
result_int = int(result)
type(result_int)

int

In [52]:
position_index = int(input("Choose an index position: "))

Choose an index position: 2

In [53]:
print(position_index)

2

Validating User Input

In [2]:
def user_choice():
    choice = input("Please enter a number (0-10): ")
    return int(choice)

#There is a problem with this. We are not checking against the parameters or making sure the data is valid

In [5]:
def user_choice():
    choice = 'WRONG'
    while choice.isdigit() == False:
        choice = input("Please enter a number (0-10): ")
        if choice.isdigit() == False:
            print("That's not a digit!")
    
    return int(choice)
#Still haven't checked for boundary values

In [4]:
user_choice()

Please enter a number (0-10): two
Please enter a number (0-10): five
Please enter a number (0-10): 5

5

In [6]:
result = 'Wrong'
acceptable_values = [0,1,2]
result in acceptable_values

False

In [8]:
result not in acceptable_values

True

In [12]:
def user_choice():
    #Variables
    
    #Initial
    choice = 'WRONG'
    acceptable_range = range(0,10)
    within_range = False
    
    #Two conditions
    
    while choice.isdigit() == False or within_range == False :
        choice = input("Please enter a number (0-10): ")
        
        #Digit check
        if choice.isdigit() == False:
            print("That's not a digit!")
            
        #Range check
        if choice.isdigit():
            if int(choice) in acceptable_range:
                within_range = True
            else:
                print("Out of acceptable range!")
                pass
    
    return int(choice)

In [13]:
user_choice()

Please enter a number (0-10): two
That's not a digit!
Please enter a number (0-10): 100
Out of acceptable range!
Please enter a number (0-10): 5

5

TIC TAC TOE Project

In [1]:
game_list = [0,1,2]
def display_game(game_list):
    print("Here is the current list: ")
    print(game_list)

In [2]:
display_game(game_list)

Here is the current list:
[0, 1, 2]

In [3]:
def position_choice():
    choice = 'wrong'
    while choice not in ['0','1','2']:
        choice = input("Pick a position (0,1,2): ")
        
        if choice not in ['0','1','2']:
            print("Invalid choice!")
            
    return int(choice)

In [4]:
def replacement_choice(game_list, position):
    user_placement = input("Type a string to place at position: ")
    game_list[position] = user_placement
    return game_list

In [5]:
def gameon_choice():
    choice = 'wrong'
    while choice not in ['Y','N']:
        choice = input("Keep playing? (Y or N): ")
        
        if choice not in ['Y','N']:
            print("Please choose Y or N")
            
    if choice == "Y":
        return True
    else:
        return False

In [6]:
game_on = True
game_list = [0,1,2]

while game_on:
    display(game_list)
    position = position_choice()
    game_list = replacement_choice(game_list, position)
    display_game(game_list)
    game_on = gameon_choice()

[0, 1, 2]

Pick a position (0,1,2): two
Invalid choice!
Pick a position (0,1,2): 1
Type a string to place at position: Chris
Here is the current list:
[0, 'Chris', 2]
Keep playing? (Y or N): U
Please choose Y or N
Keep playing? (Y or N): N

### Object Oriented Programming

In [3]:
class Sample():
    pass #placeholder

In [4]:
my_sample = Sample()
type(my_sample)

__main__.Sample

In [10]:
class Dog():
    species = 'mammal'
    
    def __init__(self, breed, name):
        self.breed = breed
        self.name = name
    
    def bark(self, number):
        print("WOOF! My name is {} and the number is {}".format(self.name, number))

In [11]:
my_dog = Dog(breed = 'Fox', name = 'Ruby')
type(my_dog)

__main__.Dog

In [11]:
my_dog.breed

'Fox'

In [12]:
my_dog.name

'Ruby'

In [12]:
my_dog.bark(4)

WOOF! My name is Ruby and the number is 4

In [16]:
class Circle():
    pi = 3.14

    def __init__(self, radius = 1):
        self.radius = radius
        self.area = radius * radius * self.pi


    def get_circumference(self):
        return self.radius * self.pi * 2

In [17]:
my_circle = Circle()
my_circle.get_circumference()

6.28

In [18]:
my_other_circle = Circle(45)
my_other_circle.get_circumference()

282.6

In [19]:
my_circle.area

3.14

### Inheritance

In [20]:
#Base Class
class Animal():
    def __init__(self):
        print("Animal Created")
    
    def who_am_i(self):
        print("I am an animal")
    
    def eat(self):
        print("I am eating")

In [21]:
my_animal = Animal()

Animal Created

In [22]:
class Dog(Animal):
    def __init__(self):
        Animal.__init__(self)
        print("Dog Created")
    
    def who_am_i(self):
        print("I am a dog")

    def bark(self):
        print("Woof")

In [23]:
my_dog = Dog()
my_dog.who_am_i()
my_dog.eat()
my_dog.bark()

Animal Created
Dog Created
I am a dog
I am eating
Woof

### Polymorphism

In [27]:
class Dog():
    def __init__(self, name):
        self.name = name
    
    def speak(self):
        return self.name + ' says woof!'

class Cat():
    def __init__(self, name):
        self.name = name
    
    def speak(self):
        return self.name + ' says meow!'

In [28]:
niko = Dog('niko')
felix = Cat('felix')

In [29]:
print(niko.speak())
print(felix.speak())

niko says woof!
felix says meow!

In [30]:
for pet in [niko, felix]:
    print(type(pet))
    print(type(pet.speak()))

<class '__main__.Dog'>
<class 'str'>
<class '__main__.Cat'>
<class 'str'>

In [ ]:
def pet_speak(pet):
    print(pet.speak())

### Abstract Classes

In [31]:
#Abstract class
class Animal():

    def __init__(self, name):
        self.name = name

    def speak(self):
        raise NotImplementedError("Subclass must implement this abstract method")

In [32]:
class Dog(Animal):

    def speak(self):
        return self.name + ' says woof'

class Cat(Animal):

    def speak(self):
        return self.name + ' says meow'

In [33]:
fido = Dog('fido')
isis = Cat('isis')

In [35]:
print(fido.speak())
print(isis.speak())

fido says woof
isis says meow

### Special Methods

In [36]:
class Sample():
    pass

In [37]:
mysample = Sample()

In [38]:
print(mysample)

<__main__.Sample object at 0x000001F790A92AC0>

In [48]:
class Book():
    def __init__(self, title, author, pages):
        self.title = title
        self.author = author
        self.pages = pages

    #print()
    def __str__(self):
        return f"{self.title} by {self.author}"

    #len()
    def __len__(self):
        return self.pages

    #del()
    def __del__(self):
        print("A book object has been deleted")

In [49]:
book = Book('Python Rocks', 'Jose', 200)
print(book)
print(len(book))

Python Rocks by Jose
200

In [50]:
# del *var/obj* - deletes a variable from memory.
del book

A book object has been deleted

### Errors and Exception Handling

In [1]:
def add(n1, n2):
    print(n1 + n2)

In [2]:
num1 = 10
num2 = input('Provide a number')

In [3]:
add(num1, num2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [5]:
try:
    result = 10 + '10'
except:
    print('An error happened, oh no!')

An error happened, oh no!

In [6]:
try:
    result = 10 + 10
except:
    print('An error happened, oh no!')
else:
    print(result)

20

In [7]:
try:
    f = open('testfile', 'r')
    f.write("Write a test line")
except TypeError:
    print('There was a type error!')
except OSError:
    print('Hey you have an OS Error')
finally:
    print('This block runs eveytime')

Hey you have an OS Error
This block runs eveytime

In [9]:
def ask():
    while True:
        try:
            result = int(input('Provide a number: '))
        except:
            print("That isn't a number")
            continue
        else:
            print('Thank you')
            break
        finally:
            print("End of try/except/finally")

In [10]:
ask()

That isn't a number
End of try/except/finally
That isn't a number
End of try/except/finally
Thank you
End of try/except/finally

## Decorators

In [2]:
def hello():
    return "hello"

In [6]:
greet = hello

In [7]:
greet()

'hello'

In [12]:
def hello(name = 'Jose'):
    print("The hello function has been executed")

    def greet():
        return '\t This is the greet function inside hello'
    def welcome():
        return '\t This is welcome inside hello'
    
    print(greet())
    print(welcome())
    print("This is the end of the hello func")

In [13]:
hello()

The hello function has been executed
	 This is the greet function inside hello
	 This is welcome inside hello
This is the end of the hello func

In [14]:
def hello(name = 'Jose'):
    print("The hello function has been executed")

    def greet():
        return '\t This is the greet function inside hello'
    def welcome():
        return '\t This is welcome inside hello'
    
    print("Returning a function")
    if name == 'Jose':
        return greet
    else:
        return welcome

In [15]:
func = hello()
func()

The hello function has been executed
Returning a function

'\t This is the greet function inside hello'

In [16]:
def hello():
    return 'Hello World!'

def func(another_func):
    print('Other code runs here')
    print(another_func())

In [18]:
func(hello)

Other code runs here
Hello World!

In [19]:
def decorator(func):
    def wrapper():
        print('This is wrapper code')
        func()
        print('More wrapper code')
    
    return wrapper

In [20]:
new_hello = decorator(hello)
new_hello()

This is wrapper code
More wrapper code

In [21]:
@decorator
def test_func():
    print('I want to be ravaged and decorated!')

test_func()

This is wrapper code
I want to be ravaged and decorated!
More wrapper code

## Generators

In [1]:
def cubes(n):
    '''
    An example of the list method
    '''
    result = []
    for x in range(n):
        result.append(x**3)
    return result

In [2]:
def cubes(n):
    '''
    An example of generator
    '''
    for x in range(n):
        yield x**3

In [10]:
test = cubes(10)

In [11]:
print(next(test))
print(next(test))
print(next(test))

0
1
8

## Built-in Modules

In [1]:
from collections import Counter

In [2]:
mylist = [1,1,1,1,1,2,2,2,2,3,3,3,4,4,4]
Counter(mylist)

Counter({1: 5, 2: 4, 3: 3, 4: 3})

In [4]:
sentence = "How many times does each word whow up in this sentence with a word"
Counter(sentence.lower().split())

Counter({'how': 1,
         'many': 1,
         'times': 1,
         'does': 1,
         'each': 1,
         'word': 2,
         'whow': 1,
         'up': 1,
         'in': 1,
         'this': 1,
         'sentence': 1,
         'with': 1,
         'a': 1})

In [5]:
from collections import defaultdict

In [6]:
test = defaultdict(lambda: 0)
test['a'] = 1
test['b']

0

In [7]:
from collections import namedtuple

In [8]:
Dog = namedtuple('Dog', ['age', 'breed', 'name'])
sammy = Dog(age=5,breed='Husky',name='Sam')

In [9]:
pwd

'c:\\Users\\cjsan\\Documents\\Code\\Code-Manual\\Python\\Udemy Python'

In [ ]:
f = open('practice.txt', 'w+')
f.write('This is a test string')
f.close()

In [10]:
import os
os.getcwd()

'c:\\Users\\cjsan\\Documents\\Code\\Code-Manual\\Python\\Udemy Python'

In [11]:
os.listdir()
os.listdir('c:\\Users\\')

['All Users', 'cjsan', 'Default', 'Default User', 'desktop.ini', 'Public']

In [1]:
import datetime
mytime = datetime.time(3,40,5)
print(mytime)

03:40:05

In [3]:
mydate = datetime.date.today()
print(mydate)

2022-06-14

In [4]:
from datetime import datetime
mydatetime = datetime(2021,10,3, 14, 20, 1)
print(mydatetime)

2021-10-03 14:20:01

In [5]:
mydatetime = mydatetime.replace(year = 2022)
print(mydatetime)

2022-10-03 14:20:01

In [6]:
from datetime import date
date1 = date(2021,11,3)
date2 = date(2020,12,4)
diff = date1 - date2
print(diff)

334 days, 0:00:00

In [8]:
datetime1 = datetime(2021,11,3,12,30,56)
datetime2 = datetime(2020,12,4,7,23,21)
diff = datetime1 - datetime2
print(diff)

334 days, 5:07:35

In [4]:
import re
text = "The special agent's contact number is 505-457-6078"
pattern = 'contact'
re.search(pattern, text)

In [3]:
import re
text = "My phone number is 408-555-1234"
pattern = r'\d\d\d-\d\d\d-\d\d\d\d'
phone = re.search(pattern, text)
print(phone.group())

408-555-1234

In [2]:
text = "My phone number is 408-555-1234"
pattern = re.compile(r'(\d{3})-(\d{3})-(\d{4})')
phone = re.search(pattern, text)
print(phone.group(1))

408

In [5]:
text = "My phone number is 408-555-1234"
pattern = r'phone|is'
phone = re.search(pattern, text)
print(phone.group())

phone

In [6]:
text = "The cat in the hat sat there"
pattern = r'.at'
matches = re.findall(pattern, text)
print(matches)

['cat', 'hat', 'sat']

In [8]:
text = "1This is an example string whwe you caj see the oiurcme"
pattern = r'^\d'
matches = re.findall(pattern, text)
print(matches)

['1']

In [9]:
text = "This is an example string2"
pattern = r'\d$'
matches = re.findall(pattern, text)
print(matches)

['2']

In [11]:
text = "There are 3 numbers in 45 this 23 entire sentence 67"
pattern = r'[^\d]'
matches = re.findall(pattern, text)
print(matches)

['T', 'h', 'e', 'r', 'e', ' ', 'a', 'r', 'e', ' ', ' ', 'n', 'u', 'm', 'b', 'e', 'r', 's', ' ', 'i', 'n', ' ', ' ', 't', 'h', 'i', 's', ' ', ' ', 'e', 'n', 't', 'i', 'r', 'e', ' ', 's', 'e', 'n', 't', 'e', 'n', 'c', 'e', ' ']

In [12]:
text = "There are 3 numbers in 45 this 23 entire sentence 67"
pattern = r'[^\d]+'
matches = re.findall(pattern, text)
print(matches)

['There are ', ' numbers in ', ' this ', ' entire sentence ']

In [16]:
text = "This is a string! But it has punctuation. How can we remove it?"
pattern = r'[^!.? ]+'
matches = re.findall(pattern, text)
clean = ' '.join(matches)
print(clean)

This is a string But it has punctuation How can we remove it

In [17]:
# Inclusion ([]) - Used to group patterns
# They indicate a group, for easy code readability
text = "Only find the hyphen-words in this sentence. But you don't know how long-ish they are."
pattern = r'[\w]+-[\w]+'
matches = re.findall(pattern, text)
print(matches)

['hyphen-words', 'long-ish']

In [22]:
text = "Hey, would you like some catfish?"
text2 = "Hey, would you like to take a catnap?"
text3 = "Hey, would you like this caterpillar"
pattern = r'cat(fish|nap|erpillar)'
matches = re.search(pattern, text)
print(matches)

<re.Match object; span=(25, 32), match='catfish'>

In [23]:
def func_one(n):
    return [str(num) for num in range(n)]

In [24]:
func_one(10)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [25]:
def func_two(n):
    return list(map(str, range(n)))

In [27]:
func_two(10)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [30]:
import time
start_time = time.time()
result = func_one(1000000000)
end_time = time.time()
elapsed_time = end_time - start_time
print(f'One: {elapsed_time}')

start_time = time.time()
result = func_two(1000000000)
end_time = time.time()
elapsed_time = end_time - start_time
print(f'Two: {elapsed_time}')

In [3]:
import timeit
statement = '''
func_one(100)
'''
setup = '''
def func_one(n):
    return [str(num) for num in range(n)]
'''
timeit.timeit(statement, setup, number = 1000000)

21.573260500000004

In [4]:
statement = '''
func_two(100)
'''
setup = '''
def func_two(n):
    return list(map(str, range(n)))
'''
timeit.timeit(statement, setup, number = 1000000)

17.848415399999993